.header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    background-color: #051622;
  }
  
  .header-title {
    color: #1ba098;
    margin: 0;
  }
  body {
    background-color: #051622;
    min-height: 100vh;
  }
  
  
  .team-container {
    /* flex-wrap: wrap; */
    /* display: flex; */
    justify-content: center;
    /* padding-top: 64px; */
    margin-left: 250px;
    margin-right: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-auto-rows: 350px; */
    column-gap: 80px;
    row-gap: 80px;
  }
  

  
  .team-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    color: #fff;
  }
  
  .team-members {
    padding-left: 0;
    list-style-type: none;
  }
  
  .team-member {
    background-color: #1ba098;
    width: 48%;
    height: 80px;
    margin: 0 2%;
    margin-top: 8px;
    border-radius: 8px;
    color: #fff;
    border: 1px solid #1ba098;
    cursor: pointer;
  }
  
  .team-member:last-child {
    margin-right: 0;
  }
  
  .team-member:first-child {
    margin-left: 0;
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  .popup-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .popup-body {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
  }
  
  input,
  select {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-cancel {
    background-color: #e75a55;
    color: white;
    margin-right: 10px;
  }
  
  .btn-submit {
    background-color: #499749;
    color: white;
  }
  .team-add {
    border: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin: 16px;
  }
  
  .team-add span {
    font-size: 48px;
  }
  
  .team-add:hover {
    text-decoration: underline;
  }
  .team-card {
    background-color: #ffffff00;
    border-radius: 8px;
    margin: 16px;
    padding: 16px; 
    min-width: 300px;
  }